@media only screen and (max-width: 800px) {
    .cart {
        width: 400px
    }
    .titles {
        font-size: large;
    }
    .prices {
        font-size: large;
    }
  }
@media only screen and (min-width: 801px) {
    .cart {
        width: 800px
    }
    .titles {
        font-size: xx-large;
    }
    .prices {
        font-size: xx-large;
    }
}
.cart {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    background-color: white;
}

.titles {
    -webkit-text-stroke: 1px black; 
    color: white;
}

.empty {
    margin-top: 10px;
    font-size: xx-large;
}

.prices {
    -webkit-text-stroke: 1px black; 
    color: white;
}

.total {
    -webkit-text-stroke: 1px black; 
    color: white;
    font-size: large;
}

.header{
    text-align: center;
}